* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    font-family: arial,sans-serif;
    justify-content: space-between;
}

body svg {
    fill: #5f6368;
    width: 24px;
    height: 24px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.cabecera-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 12px;
}

.cabecera-list a {
    text-decoration: none;
    color: #3c4043;
}

.cabecera-list__options {
    display: flex;
    padding-right: 12px;
}

.cabecera-list__svg {
    padding-right: 14px;
}

.cabecera-list__item {
    margin-right: 12px;
}

.cabecera-list__letra img {
    background-size: 32px 32px;
    border-radius: 50%;
    cursor: pointer;
}

.buscador {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 24px;
}

.barra {
    margin: 0 auto;
}

.barra__buscador {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    min-width: 582px;
    margin: 0 auto;
    border: 1px solid #dfe1e5;
    background: #fff;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    z-index: 3;
}

.barra__buscador > input {
    height: 42px;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}

.barra__buscador svg {
    margin: 0 10px;
    cursor: pointer;
}

.barra-footer > div{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    color: #70757a;
}

.nav-footer {
    display: flex;
    list-style: none;
    padding: 0 20px;
    justify-content: space-between;
}

.nav-footer__item {
    padding: 15px;
}

.nav-footer div {
    display: flex;
}

.nav-footer a {
    text-decoration: none;
    color: #70757a;
}

.barra-footer {
    width: 100%;
    background-color: #f2f2f2;
}

.google {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100%;
    min-height: 260px;
}

.barra-fotter + div {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 1.5rem;
    color: #70757a;
}

.btn-buscador {
    display: flex;
    width: 100%;
    min-width: 400px;
    margin: 8px 5px 11px 5px;
    padding-top: 18px;
    justify-content: center;
}

.btn-buscador__btn {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 1.4rem;
    margin: 0px 4px;
    /* padding: 0 16px; */
    /* line-height: 36px; */
    height: 35px;
    min-width: 160px;
    text-align: center;
    cursor: pointer;
    user-select: none;
 }